<% provide(:title, "Schedule") %>

<h2>Schedule for next 30 days</h2>
<table class="schedule">
				<thead>
					<tr>
						<th scope="col">Plant</th>
						<th scope="col">Date</th>
						<th scope="col">Planter</th>
						<th scope="col">Square</th>
						<th scope="col">Space</th>
					</tr>
				</thead>
				<tbody>
					<% @seeds.each do |s| %>
						<tr>
							<td><%= s.square.plant.name %></td>
							<td><%= s.plant_date.strftime("%a, %b %d") %></td>
							<% message = "You are planting #{s.square.plant.name} in Square #{s.square.unit}, Space #{s.square_space}" %>
							<td><%= link_to s.square.planter.name, message_planter_path(:id => s.square.planter, :message => message) %></td>
							<td><%= s.square.unit %></td>
							<td><%= s.square_space %></td>
						</tr>
					<% end %>
				</tbody>
			</table>