<% provide(:title, "Schedule") %>

<h2>2 Week Schedule</h2>
<p>Click planter box link to go to planter. Mark seed there as planted.</p>
<table class="schedule">
				<thead>
					<tr>
						<th scope="col">Plant</th>
						<th scope="col">Category</th>
						<th scope="col">Type</th>
						<th scope="col">Date</th>
						<th scope="col">Planter</th>
						<th scope="col">Square</th>
						<th scope="col">Space</th>
					</tr>
				</thead>
				<tbody>
					<% @seeds.each do |s| %>
						<tr>
							<td><%= s.square.plant.name %></td>
							<td><%= s.square.plant.plant_category.name %></td>
							<td><%= s.square.plant.plant_generic_name.name %></td>
							<% if s.plant_date.day ==  Time.now.day %>
								<% plant_class = "due" %>
							<% elsif s.plant_date.day < Time.now.day && s.plant_date.month == Time.now.month %>
								<% plant_class = "late" %>
							<% else %>
								<% plant_class = "" %>
							<% end %>
							<td class="<%= plant_class %>"><%= s.plant_date.strftime("%a, %b %d") %></td>
							<% message = "You are planting #{s.square.plant.name} in Square #{s.square.unit}, Space #{s.square_space}" %>
							<td><%= link_to s.square.planter.name, message_planter_path(:id => s.square.planter, :message => message) %></td>
							<td><%= s.square.unit %></td>
							<td><%= s.square_space %></td>
						</tr>
					<% end %>
				</tbody>
			</table>