<% provide(:title, @planter.name) %>
<%= link_to "â† Back to all planters", planters_path %>
<h2><%= @planter.name %></h2>
<p>Hover over seeds to see pick date</p>
<div class="planter-box">
	<% length = @planter.length %>
	<% width = @planter.width %>
	<% i = 1 %>
	<% w = 0 %>
	<% while w < width %>
		<% l = 0 %>

		<!-- name row -->
		<div class="row">
			<% while l < length %>
				<% square = @planter.squares.where(unit: i) %>
				<% if square.exists? %>
					<% name = ". #{square.first.plant.plant_generic_name.name}" %>
				<% else %>
					<% name = "" %>
				<% end %>
				<div class="square-name"><span>
				<% if name != "" %>
					<%= link_to(i, @planter.squares.where(unit: i).first, method: :delete, data: { confirm: "Delete plant in square?" }) %><%= link_to(name, plant_path(square.first.plant), :title => square.first.plant.name) %>
				<% end %>
				</span></div>
				<% i += 1 %>
				<% l += 1 %>
			<% end %>
			<% i -= length %>
			<% l -= length %>
		</div>

		<!-- content row -->
		<div class="row">
			<% while l < length %>
				<% link =  @planter.squares.where(unit: i).exists? %>
				<% if !link %>
					<%= link_to(new_square_path({:planter => @planter.id, :unit => i})) do %>
  					<div class="square"><%= i %></div>
  				<% end %>
  			<% else %>
  				<% num_seeds = @planter.squares.where(unit: i).first.plant.persqft %>
  				<% square = @planter.squares.where(unit: i).first.id %>
  				<div class="square"><%= raw display_seeds(num_seeds, square, @planter.id) %></div>
  			<% end %>
				<% l += 1 %>
				<% i += 1 %>
			<% end %>
		</div>
		<% w += 1 %>
	<% end %>
</div>
<br style="clear: both"/>
<br/>

<h2>Calendar</h2>

<h2>Instructions</h2>
<p class="instructions"><strong>Step 1.</strong>Click a <span class="accent">pink number</span> in a square to choose a plant for a square.<br/>
Click a <span class="main">plant's green number</span> to empty the square.<br/>
Click a <span class="main">plant's green name</span> to see info on that plant.<br/>
Hover over a <span class="main">plant's green name</span> to see it's full name.<br/>
<strong>Step 2.</strong>Click an empty seed space to schedule a planting.<br/>
<strong>Step 3.</strong> When planted, click a light green square to change status to "planted".<br/>
Click a date to plant, pick or modify a planting.<br/>
Light green is a scheduled planting, dark green is a planted seed.</p>


