<% provide(:title, @planter.name) %>
<%= link_to "â† Back to all planters", planters_path %>
<h2><%= @planter.name %></h2>

<p>Click an empty square to plant something in it.</p>
<div class="planter-box">
	<% length = @planter.length %>
	<% width = @planter.width %>
	<% i = 1 %>
	<% w = 0 %>
	<% while w < width %>
		<% l = 0 %>

		<!-- name row -->
		<div class="row">
			<% while l < length %>
				<% square = @planter.squares.where(unit: i) %>
				<% if square.exists? %>
					<% initial_name = square.first.plant.plant_generic_name.name %>
					<% initial_name = initial_name.pluralize if square.first.plant.persqft > 1 && square.first.plant.persqft != 17 %>
					<% name = ". #{initial_name}" %>
				<% else %>
					<% name = "" %>
				<% end %>
				<div class="square-name"><span>
				<% if name != "" %>
					<%= i %><%= name %>
				<% end %>
				</span></div>
				<% i += 1 %>
				<% l += 1 %>
			<% end %>
			<% i -= length %>
			<% l -= length %>
		</div>

		<!-- content row -->
		<div class="row">
			<% while l < length %>
				<% link =  @planter.squares.where(unit: i).exists? %>
				<% if !link %>
					<%= link_to(new_square_path({:planter => @planter.id, :unit => i})) do %>
  					<div class="square"><%= i %></div>
  				<% end %>
  			<% else %>
  				<% seeds = @planter.squares.where(unit: i).first.plant.persqft %>
  				<div class="square"><%= raw display_seeds(seeds) %></div>
  			<% end %>
				<% l += 1 %>
				<% i += 1 %>
			<% end %>
		</div>
		<% w += 1 %>
	<% end %>
</div>
<br style="clear: both"/>
<br/>


