<% provide(:title, @planter.name) %>
<%= link_to "â† Back to all planters", planters_path %>
<h2><%= @planter.name %></h2>

<div class="planter-box">
	<% length = @planter.length %>
	<% width = @planter.width %>
	<% i = 1 %>
	<% w = 0 %>
	<% while w < width %>
		<% l = 0 %>
		<div class="row">
		<% while l < length %>
			<% if @planter.squares.where(unit: i).exists? %>
				<% name = " - #{@planter.squares.where(unit: i).first.plant.plant_generic_name.name}" %>
			<% else %>
				<% name = "" %>
			<% end %>
			<div class="square"><span>
			<% if name != "" %>
				<%= i %><%= name %>
			<% else %>
				<%= link_to i, new_square_path({:planter => @planter.id, :unit => i}) %>
			<% end %>
			</span></div>
			<% l += 1 %>
			<% i += 1 %>
		<% end %>
		</div>
		<% w += 1 %>
	<% end %>
</div>
<br style="clear: both"/>
<br/>


