<%= form_for @seed do |f| %>

  <h2><%= form_title %> <span>to Plant <%= @square.plant.name %> in <%= @planter.name %></span></h2>

  <fieldset>

    <% if @seed.errors.any? %>
      <ul class = "errors">
        <% @seed.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.label :plant_date, '*Pick a date:' %>
    <%= f.date_select(:plant_date, default: @seed.plant_date) %>

    <%= f.label :planted, '*Planted?' %>
    <%= f.select :planted, [['No', false], ['Yes', true]] %>

    <%= hidden_field_tag :planter_id, @planter.id %>
    <%= hidden_field_tag :square_id, @square.id %>
    <%= hidden_field_tag :square_space, @square_space %>

    <div class="submit">
      <%= f.submit 'Save' %>
    </div>
    <br/>
    <% if params[:action] == "edit" %>
      <%= link_to "or pick the plant to delete record", @seed, method: :delete, data: { confirm: "Delete seed?" } %>
    <% end %>

  </fieldset>
<% end %>