<% provide(:title, 'All Plants') %>

<h2>All Plants</h2>

<ul class='plant-list'>
	<% @current_category = "" %>
	<% @plants.each do |p| %>
		<% if @current_category != p.plant_category.name %>
			<li class = "category"><%= p.plant_category.name %></li>
		<% end %>
		<li class = "name"><%= p.plant_generic_name.name %>: <%= link_to p.name, plant_path(p) %></li>
		<% @current_category = p.plant_category.name %>
	<% end %>
</ul>
<br/>
<%= link_to "Add Plant", new_plant_path %>

<h2>Plant Calendar</h2>

<table class="plant-calendar">
				<thead>
					<tr>
						<th scope="col">Plant</th>
						<th></th>
						<th class="month" scope="col">Jan</th>
						<th class="month" scope="col">Feb</th>
						<th class="month" scope="col">Mar</th>
						<th class="month" scope="col">Apr</th>
						<th class="month" scope="col">May</th>
						<th class="month" scope="col">Jun</th>
						<th class="month" scope="col">Jul</th>
						<th class="month" scope="col">Aug</th>
						<th class="month" scope="col">Sep</th>
						<th class="month" scope="col">Oct</th>
						<th class="month" scope="col">Nov</th>
						<th class="month" scope="col">Dec</th>
					</tr>
				</thead>
				<tbody>
					<% @plants.each do |p|
						planting = []
						picking = []
						def planting_method(count, planting, duration, picking)
							planting << count
							pick_date = count + duration
							pick_date = pick_date - 12 if pick_date > 12
							picking << pick_date if duration != 0.1
						end
						if p.first_planting != nil
							first_plant_start = p.first_planting
							first_plant_end = p.first_planting_duration
							if p.first_planting_maturity != nil && p.first_planting_maturity != ""
								duration = p.first_planting_maturity/7/4
							else
								duration = 0.1
							end
							count = first_plant_start
							if first_plant_start < first_plant_end
								while count <= first_plant_end
									planting_method(count, planting, duration, picking)
									count += 1
								end
							else
								while count <= 12
									planting_method(count, planting, duration, picking)
									count += 1
								end
								count = 1
								while count <= first_plant_end
									planting_method(count, planting, duration, picking)
									count += 1
								end
							end
						end
						if p.second_planting != nil
							second_plant_start = p.second_planting
							second_plant_end = p.second_planting_duration
							if p.second_planting_maturity != nil || p.second_planting_maturity != ""
								duration = p.first_planting_maturity/7/4
							else 
								duration = p.second_planting_maturity/7/4
							end
							count = second_plant_start
							if second_plant_start < second_plant_end
								while count <= second_plant_end
									planting_method(count, planting, duration, picking)
									count += 1
								end
							else
								while count <= 12
									planting_method(count, planting, duration, picking)
									count += 1
								end
								count = 1
								while count <= second_plant_end
									planting_method(count, planting, duration, picking)
									count += 1
								end
							end
						end
						%>
						<tr>
							<td><%= p.name %></td>
							<td class="plant-title">Plant</td>
							<td class = "<%= "plant" if planting.include? 1 %>"></td>
							<td class = "<%= 'plant' if planting.include? 2 %>"></td>
							<td class = "<%= 'plant' if planting.include? 3 %>"></td>
							<td class = "<%= 'plant' if planting.include? 4 %>"></td>
							<td class = "<%= 'plant' if planting.include? 5 %>"></td>
							<td class = "<%= 'plant' if planting.include? 6 %>"></td>
							<td class = "<%= 'plant' if planting.include? 7 %>"></td>
							<td class = "<%= 'plant' if planting.include? 8 %>"></td>
							<td class = "<%= 'plant' if planting.include? 9 %>"></td>
							<td class = "<%= 'plant' if planting.include? 10 %>"></td>
							<td class = "<%= 'plant' if planting.include? 11 %>"></td>
							<td class = "<%= 'plant' if planting.include? 12 %>"></td>
						</tr>
						<tr>
							<% 
							if p.first_planting_maturity != nil
								maturity = "Maturity: "
								maturity += (p.first_planting_maturity/7).to_s
								if p.second_planting_maturity != nil && p.second_planting_maturity != "" && p.second_planting_maturity != p.first_planting_maturity
									maturity += "/"
									maturity += (p.second_planting_maturity/7).to_s
									maturity += "(spr/fall)"
								end
								maturity += " wks"
							end
							%>

							<td class="notbold maturity"><%= maturity %></td>
							<td class="pick-title">Pick</td>
							<td class = "<%= "pick" if picking.include? 1 %>"></td>
							<td class = "<%= 'pick' if picking.include? 2 %>"></td>
							<td class = "<%= 'pick' if picking.include? 3 %>"></td>
							<td class = "<%= 'pick' if picking.include? 4 %>"></td>
							<td class = "<%= 'pick' if picking.include? 5 %>"></td>
							<td class = "<%= 'pick' if picking.include? 6 %>"></td>
							<td class = "<%= 'pick' if picking.include? 7 %>"></td>
							<td class = "<%= 'pick' if picking.include? 8 %>"></td>
							<td class = "<%= 'pick' if picking.include? 9 %>"></td>
							<td class = "<%= 'pick' if picking.include? 10 %>"></td>
							<td class = "<%= 'pick' if picking.include? 11 %>"></td>
							<td class = "<%= 'pick' if picking.include? 12 %>"></td>
						</tr>
					<% end %>
				</tbody>
			</table>