<% provide(:title, @plant.name) %>
<%= link_to "â† Back to all plants", plants_path %>
<h2><%= @plant.name %></h2>
<p>
	<strong>Type:</strong> <%= @plant.plant_generic_name.name %><br/>

	<strong>Category:</strong> <%= @plant.plant_category.name %><br/>

	<strong>Climbing?</strong> 
	<% @plant.climb == true ? climbing = "Yes" : climbing = "No" %>
	<%= climbing %><br/>

	<% @plant.persqft == 17 ? square_feet = "1 per 2 sq feet" : square_feet = @plant.persqft %>
	<strong>Plants per square foot:</strong> <%= square_feet %><br/>

	<strong>Sun/shade conditions:</strong> <%= @plant.sun %><br/>

	<strong><%= @first_title %>:</strong>
	<% if @plant.first_planting != nil %>
		 <%= @months[@plant.first_planting - 1] %> - <%= @months[@plant.first_planting_duration - 1] %>
	<% end %><br/>

	<% if @plant.first_planting_maturity != nil %>
		<strong>Weeks to harvest:</strong> <%= @plant.first_planting_maturity/7 %><br/>
	<% end %>

	<% if @plant.second_planting != nil %>
		<strong>Second Planting Dates:</strong> <%= @months[@plant.second_planting - 1] %> - <%= @months[@plant.second_planting_duration - 1] %><br/>
		<strong>Weeks to second harvest:</strong> <%= @plant.second_planting_maturity/7 if @plant.second_planting_maturity != nil && @plant.second_planting_maturity != "" %><br/>
	<% end %>

	<strong>Notes:</strong> <%= @plant.notes %>
</p>
<p>(<%= link_to "edit", edit_plant_path(@plant) %> | <%= link_to "delete", plant_path(@plant), method: :delete,data: {confirm: "Are you sure?"} %>)</p>